<!DOCTYPE html> {% load staticfiles %}
<html lang="en">

<head>
  <title>Events</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Conference project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- BEGIN Import new -->
  <script type="text/javascript" async="" src="{% static 'js/analytics.js' %}"></script>
  <script async="" src="{% static 'js/fbevents.js' %}"></script>

  <script src="{% static 'js/wp-emoji-release.min.js' %}" type="text/javascript" defer=""></script>
  <link href="{% static 'css/woocommerce-layout.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/woocommerce-smallscreen.css' %}" rel="stylesheet" type="text/css" media="only screen and (max-width: 768px)">
  <link href="{% static 'css/woocommerce.css' %}" rel="stylesheet" type="text/css" media="all">

  <link href="{% static 'css/css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/form-basic.min.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/style-vendors.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all">

  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.blockUI.min.js' %}"></script>

  <script stype="text/javascript" rc="{% static 'js/add-to-cart.min.js' %}"></script>
  <script stype="text/javascript" rc="{% static 'js/woocommerce-add-to-cart.js' %}"></script>

  <link rel="icon" href="{% static 'images/thumb.png' %}" sizes="32x32">
  <link rel="icon" href="{% static 'images/thumb.png' %}" sizes="192x192">
  <link rel="apple-touch-icon-precomposed" href="{% static 'images/thumb.png' %}">
  <meta name="msapplication-TileImage" content="{% static 'images/thumb.png' %}">

  <script async="" src="{% static 'js/js' %}"></script>

  <!-- END Import new -->
</head>

<body>
  {% include 'base/header.html' %} {% block content %} {% endblock %} {% include 'base/footer.html' %}

  <script type="text/javascript" src="{% static 'js/js.cookie.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/woocommerce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/cart-fragments.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slidebars.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/comment-reply.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/wp-embed.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/forms-api.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/eventica.js' %}"></script>
</body>

</html>