{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title_header %}Update event{% endblock %}
{% block content %}
<div class="events">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="form-title">Update Event</h2>
                <form action="" method="post" class="update-form" id="update-form">
                    {% csrf_token %}


                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/modules/event.js' %}"></script>
<script>
    $(document).ready(function () {
        id = parseInt(location.href.split("/").pop())
        url = "{% url 'events:detail' '000000' %}"
        url = url.replace('000000', id)
        moduleEvent.getDetail(url);
        $('#alldaycheck').click(function (event) {
            if ($('#alldaycheck').is(':checked')) {
                $('#startTime').attr("disabled", true)
                $('#endTime').attr("disabled", true)
            } else {
                $("#startTime").removeAttr("disabled")
                $("#endTime").removeAttr("disabled")
            }
        })
        $('#update-form').submit(function (event) {
            var formdata = new FormData(this)

            event.preventDefault()
            moduleEvent.updateEvent(url, formdata)
        })

    })
</script>


{% endblock %}