{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title_header %}Home poll{% endblock %}
{% block content %}

<div class="events">
  <div class="container">
    <div class="row">
      <div class="col" id="list_event">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="pagination">
          <a class="btn" id="loadMore">Load more...</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/modules/event.js' %}"></script>
<script>
  $(document).ready(function () {
    moduleEvent.listEvent("{% url 'events:list_events' %}");
    $("#loadMore").on('click', function (e) {
      moduleEvent.listEvent("{% url 'events:list_events' %}")
    });
  })

</script>
{% endblock %}
