{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title_header %}Sign Up{% endblock %}
{% block content %}
<div class="main">
  <!-- Sign up form -->
  <section class="signup">
    <div class="login-container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Sign up</h2>
          <span id="register_error" style="color:red"></span>
          <form method="POST" class="register-form" id="register-form">
            {% csrf_token %}
            <span id="username_error" style="color:red"></span>
            <div class="form-group">
              <label class="sign-in-label" for="name"><i class="zmdi zmdi-account material-icons-name"></i></label
                class="sign-in-label">
              <input class="sign-in-input" type="text" name="username" id="username" placeholder="User Name" />
            </div>
            <span id="email_error" style="color:red"></span>
            <div class="form-group">
              <label class="sign-in-label" for="email"><i class="zmdi zmdi-email"></i></label class="sign-in-label">
              <input class="sign-in-input" type="email" name="email" id="email" placeholder="Email" />
            </div>
            <span id="password_error" style="color:red"></span>
            <div class="form-group">
              <label class="sign-in-label" for="pass"><i class="zmdi zmdi-lock"></i></label class="sign-in-label">
              <input class="sign-in-input" type="password" name="password" id="password" placeholder="Password" />
            </div>
            <span id="password_confirm_error" style="color:red"></span>
            <div class="form-group">
              <label class="sign-in-label" for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label class="sign-in-label">
              <input class="sign-in-input" type="password" name="password_confirm" id="password_confirm" placeholder="Repeat your password" />
            </div>
            <div class="form-group form-button">
              <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
            </div>
          </form>
        </div>
        <div class="signup-image">
          <figure><img src="/static/images/signup-image.jpg" alt="sing up image"></figure>
          <a href="{% url 'signin' %}" class="signup-image-link">I am already member</a>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/modules/auth.js' %}"></script>
<script>
  $(document).ready(function () {
    $('html, body').animate({
      scrollTop: $(".main").offset().top - 70
    }, 500)
    $('#register-form').submit(function (event) {
      var formdata = $(this).serializeArray()
      var url = "{% url 'register' %}"
      event.preventDefault()
      moduleAuth.register(url, formdata)
    })
  })

</script>
{% endblock %}
